@model eRef.Models.LegislatorModels.LegislatorListItem

@{
    ViewBag.Title = "DeleteLegislator";
}



<h2 style="font-family:Impact;text-align:center">Delete this Legislator?</h2>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
