@model eRef.Models.VoterModels.VoterListItem

@{
    ViewBag.Title = "Delete";
}

<h2 style="text-align:center;font-family:Impact">Delete Voter?</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyAff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyAff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
