@model eRef.Models.LawModels.LawListItem

@{
    ViewBag.Title = "DeleteLaw";
}

<h2 style="text-align:center;font-family:Impact">Delete Law</h2>


<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MajDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteScheduled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteScheduled)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
