@model eRef.Models.LawModels.LawListItem

@{
    ViewBag.Title = "Details";
}

<h2>Law Details</h2>

<div>
    <h4>Law</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MajDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteScheduled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteScheduled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
